@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Sriracha&display=swap');

:root {
    --fonte1: 'Passion One', sans-serif;
    --fonte2: 'Sriracha', cursive;
}

body {
    margin: 0px;
    background-color: white;
}
header {
    color: white;
    text-align: center;
    background-color: black;
    padding: 40px;
}
section {
    margin: 20px 0px 10px 0px;
}
footer {
    background-color: black;
    margin: 0px;
}
header>h1 {
    font-family: var(--fonte1);
    font-size: 5em;
    font-weight: bold;
    margin: 0px;
}
header>p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
p>a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
article>p {
    color: black;
    font-family: var(--fonte2);
    font-size: 1.5em;
    margin: 20px 0px 20px 30px;
}
footer>p {
    color: white;
    font-size: 0.8em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0px;
    padding: 5px;
}
footer>p>a {
    font-weight: normal;
}
/*Adicionar um hover para o link*/
p.special{
    color: white;
    text-shadow: 2px 2px black;
    background-color: rgba(0, 0, 0, 0.458);
    display: inline-block;
    margin: 0px;
}

article.fundo {
    width: 100%;
    max-height: 600px;
    max-width: 97.4%;
    padding: 40px 0px 40px 40px;
    box-shadow: inset 10px 6px 25px rgba(0, 0, 0, 0.67);
}
article#first {
    background: black url(imagens/background001.jpg) no-repeat fixed;
    background-size: cover;
    background-position: right center;
}
article#second {
    background: white url(imagens/background002.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center center;
}